body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.product-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: 0.3s ease;
}

.swatches {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.swatch {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    cursor: pointer;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}


.swatch:hover {
    transform: scale(1.1);
}

.swatch:active {
    transform: scale(0.95);
}